.nav2{
    font-size: x-large;
    margin-left: 430px;
    margin-right: 160px;
}
.img-size{
  height: 60px;
  width: 60px;
}
.margin-left{
  margin-left: 30px;
}
.headDetails{
  color: black;
}
.sellerName{
  color: white;
  font-size: x-large;
  margin-top: 10px;
  margin-left: 30px;
}
.topDropDown{
  margin-top: 20px;
}
.tt2{
  width: 400px;
}
.marginHead{
  text-align: center;
}